.cls-1 {
  fill: #ffffff;
}
.cls-2 {
  fill: #272727;
}
.cls-3 {
  fill: url(#grad1);
}

.cls-3 {
  /* fill: rgb(163, 142, 49);
  font-family: 'Kanit' !important;
  font-size: 20px; */
}

.cls-4 {
  fill: #444444;
}
/* .cls-5 {
  fill: #ffffff;
} */

/* <style>.cls-1{fill:#fff;}.cls-2{fill:#3a3a3a;}.cls-3{fill:url(#Безымянный_градиент_34);}.cls-4{fill:#575756;}</style> */
